<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
   
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: rgb(133, 133, 173);
      }
      .navbar {
        background-color: white;
      }
      .container {
        margin-top: 50px;
      }
      .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: white;
        padding: 10px;
      }
      .card-bg {
        background-color: LightGray;
      }
    </style>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TODO App</a>
        <a class="navbar-brand" id="listButton" href="{% url "list" %}">Todo List</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
         
          <form action="{% url "user_login" %}" >
            <button
              id="loginButton"
              class="btn btn-outline-success m-2"
              type="submit"
            >
              Login
            </button>
          </form>
          <form action="{% url "register" %}">
            <button
              id="signupButton"
              class="btn btn-outline-primary m-2"
              type="submit"
            >
              Sign Up
            </button>
          </form>
          
            <form onsubmit="handlelogOut()">
              <button
                id="logoutButton"
                class="btn btn-outline-danger m-2"
                type="submit"
              >
                Logout
              </button>
            </form>

        
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Add Task</h5>
            </div>
            <div class="card-body" id="wrapper">
              <form id="taskForm" class="row sticky">
                {% csrf_token %}
                <div class="col-md-8 mb-2">
                  <label for="taskName" class="sr-only">Task Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="taskName"
                    placeholder="Enter task name"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success btn-block">
                    Add Task
                  </button>
                </div>
              </form>

              <div id="list-wrapper"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Check if the cookie contains the specified name
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }


      activeItem = null;
      var userId = localStorage.getItem('user_id');

      function buildList() {
        var wrapper = document.getElementById('list-wrapper');
        wrapper.innerHTML = '';
        var url = 'https://drf-todo-app.onrender.com/apis/task-list/';
        fetch(url)
          .then((res) => res.json())
          .then((tasks) => {
            console.log(tasks)
            const data = tasks.filter(task => task.user == userId);
            console.log(data)
            for (var i in data) {
              var title = `<span class="card-title title">${data[i].title}</span>`;
              if (data[i].completed == true) {
                title = `<strike class="card-title title">${data[i].title}</strike>`;
              }
              var item = `
                 <div class="card my-2 card-bg">
                     <div class="card-body d-flex flex-wrap justify-content-between">
                          <div id = "item-${i}">
                            ${title}
                          </div>
                          <div class="text-start">
                            <span class="btn btn-sm btn-primary update">Update</span>
                            <span class="btn btn-sm btn-danger delete">Delete</span>
                          </div>
                     </div>
                 </div>
                 `;
              wrapper.innerHTML += item;
            }

            for (var i in data) {
              var updateBtn = document.getElementsByClassName('update')[i];
              var deleteBtn = document.getElementsByClassName('delete')[i];
              var title = document.getElementsByClassName('title')[i];

              updateBtn.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    updateTask(item);
                  };
                })(data[i])
              );

              deleteBtn.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    deleteTask(item);
                  };
                })(data[i])
              );

              title.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    strikeUnstrike(item);
                  };
                })(data[i])
              );
            }
          });
      }

      buildList();

      var form = document.getElementById('taskForm');
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        var url = 'https://drf-todo-app.onrender.com/apis/add-task/';
        if (activeItem != null) {
          var url = `https://drf-todo-app.onrender.com/apis/update-task/${activeItem.id}/`;
          activeItem = null;
        }

        var title = document.getElementById('taskName').value;
        var requestBody = {
            "title": title,
            "user": userId
          };
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
          body: JSON.stringify(requestBody),
        }).then(function (response) {

          buildList();
          document.getElementById('taskForm').reset();
        });
      });

      function updateTask(item) {
        activeItem = item;
        document.getElementById('taskName').value = activeItem.title;
      }

      function deleteTask(item) {
        var url = `https://drf-todo-app.onrender.com/apis/delete-task/${item.id}/`;
        fetch(url, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
        }).then((res) => {
          buildList();
        });
      }

      function strikeUnstrike(item) {
        console.log('strikeUnstrike');
        console.log(item.user);
        item.completed = !item.completed;
        var url = `https://drf-todo-app.onrender.com/apis/update-task/${item.id}/`;
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
          body: JSON.stringify({
            user: item.user,
            title: item.title,
            completed: item.completed,
          }),
        }).then((res) => {
          buildList();
        });
      }
     
      const handlelogOut = () => {
        var token = localStorage.getItem('token');
        fetch('https://drf-todo-app.onrender.com/clients/logout/', {
          method: 'POST',
          headers: {
            Authorization: `Token ${token}`,
            'Content-Type': 'application/json',
          },
        })
          .then((res) => res.json())
          .then((data) => {
            console.log("logout")
            console.log(token)
            alert("Logged Out Successfully!")
            localStorage.removeItem('token');
            localStorage.removeItem('user_id');
            window.location.href = '{% url "home" %}';
          });
      };
      

      const renderNavbar = () => {
      const token = localStorage.getItem('token');
      if (token) {
        // User is logged in
        document.getElementById('loginButton').style.display = 'none';
        document.getElementById('signupButton').style.display = 'none';
        document.getElementById('logoutButton').style.display = 'inline-block';
        document.getElementById('listButton').style.display = 'inline-block';
      } else {
        // User is not logged in
        document.getElementById('loginButton').style.display = 'inline-block';
        document.getElementById('signupButton').style.display = 'inline-block';
        document.getElementById('logoutButton').style.display = 'none';
        document.getElementById('listButton').style.display = 'none';
      }
    };

    window.onload = renderNavbar;

    </script>
  </body>
</html>
