<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
   
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <style>
      body {
        background-color: rgb(133, 133, 173);
      }
      .navbar {
        background-color: white;
      }
      .container {
        margin-top: 50px;
      }
      .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: white;
        padding: 10px;
      }
      .card-bg {
        background-color: LightGray;
      }
      .app-name {
        font-family: 'Arial', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        background-color: #f0f0f7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
    </style>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand app-name" href="/">MyTodo</a>
        {% if user.is_authenticated %}
          <a class="navbar-brand" id="listButton" href="{% url "list" %}">Todo List</a>
        
        {% endif %}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
        {% if user.is_authenticated %}
        
          <form onsubmit = "handlelogOut()">
              {% csrf_token %}
              <button
                id="logoutButton"
                class="btn btn-outline-danger m-2"
                type="submit"
              >
                Logout
              </button>
            </form>

        {% else  %}
        
          <form action="{% url "user_login" %}" >
            <button
              id="loginButton"
              class="btn btn-outline-success m-2"
              type="submit"
            >
              Login
            </button>
          </form>

          <form action="{% url "register" %}">
            <button
              id="signupButton"
              class="btn btn-outline-primary m-2"
              type="submit"
              >
              Sign Up
            </button>
          </form>
        
         {% endif %}
         

        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-4">Add Task</h5>

              <div class="mb-2">
                <label for="sortData" class="sr-only">Sort Task</label>
                <select class="form-control" id="sortData" required>
                  <option value="" disabled selected>Sort Task</option>
                  <option value="priority-asc">Priority Ascending</option>
                  <option value="priority-des">Priority Descending</option>
                  <option value="due_date-asc"> Due Date Ascending</option>
                  <option value="due_date-des"> Due Date Descending</option>
                  <option value="todo"> Todo</option>
                  <option value="completed"> Completed</option>
                </select>
              </div>

            </div>
            <div class="card-body" id="wrapper">
              <form id="taskForm" class="row sticky">
              {% csrf_token %}
              <div class="col-md-12 mb-2">
                <label for="taskName" class="sr-only">Task Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="taskName"
                  placeholder="Enter task name"
                  required
                />
              </div>
              <div class="col-md-6 mb-2">
                <label for="taskDate" class="sr-only">Task Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="taskDate"
                  placeholder="Select task date"
                  required
                />
              </div>
              <div class="col-md-6 mb-2">
                <label for="taskPriority" class="sr-only">Task Priority</label>
                <select class="form-control" id="taskPriority" required>
                  <option value="" disabled selected>Priority</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-success btn-block">
                  Add Task
                </button>
              </div>
            </form>
           

              <div id="list-wrapper"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


  {% comment %} -------------------------------  footer-------------------- {% endcomment %}

   <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
             MyTodo
            </h6>
            <p>
           Say goodbye to forgotten tasks and hello to a more organized, productive you. Let's dive in and explore the endless possibilities of task management!
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a class="text-white" style="text-decoration: none;">Product</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Product</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Product</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Product </a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white" style="text-decoration: none;">Your Account</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Become an Affiliate</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Shipping Rates</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Help</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="bi bi-house"></i> Sylhet, BD</p>
            <p><i class="bi bi-envelope mr-3"></i> syedashafi4@gmail.com</p>
            <p><i class="bi bi-phone mr-3"></i> + 01 234 567 88</p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2024 Copyright:
              <a class="text-white" href="https://drf-todo-app.onrender.com"
                 >MyTodo.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-facebook"></i></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-twitter"></i></a>

            <!-- Google -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-google"></i></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-instagram"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script>
      
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Check if the cookie contains the specified name
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

       

      activeItem = null;
      var userId = localStorage.getItem('user_id');

      document.getElementById('sortData').addEventListener('change', function () {
         var wrapper = document.getElementById('list-wrapper');
          wrapper.innerHTML = '';
          var selectedOption = this.value;
          url = 'https://drf-todo-app.onrender.com/apis/task-list/';
          if (selectedOption) {
              url += `?sort_by=${selectedOption}`; 
            }
            console.log(url)
           fetch(url)
          .then((res) => res.json())
          .then((data) => {          
            console.log(data)
            for (var i in data) {
              var title = `<span class="card-title title">${data[i].title}</span>`;
              if (data[i].completed == true) {
                title = `<strike class="card-title title">${data[i].title}</strike>`;
              }
              var item = `
                 <div class="card my-2 card-bg">
                     <div class="card-body">
                          <div id = "item-${i}">
                           Title:  ${title}
                          </div>
                          <div>
                            Due Date: ${data[i].due_date}
                          </div> 
                          <div>
                            Priority: ${data[i].priority}
                          </div> 
                          <div class="text-start">
                            <span class="btn btn-sm btn-primary update">Update</span>
                            <span class="btn btn-sm btn-danger delete">Delete</span>
                          </div>
                     </div>
                 </div>
                 `;
              wrapper.innerHTML += item;
            }

            for (var i in data) {
              var updateBtn = document.getElementsByClassName('update')[i];
              var deleteBtn = document.getElementsByClassName('delete')[i];
              var title = document.getElementsByClassName('title')[i];

              updateBtn.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    updateTask(item);
                  };
                })(data[i])
              );

              deleteBtn.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    deleteTask(item);
                  };
                })(data[i])
              );

              title.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    strikeUnstrike(item);
                  };
                })(data[i])
              );
            }
          });
        });




      function buildList() {
        var wrapper = document.getElementById('list-wrapper');
        wrapper.innerHTML = '';
        let url = 'https://drf-todo-app.onrender.com/apis/task-list/';

            
          fetch(url)
          .then((res) => res.json())
          .then((data) => {          
            console.log(data)
            for (var i in data) {
              var title = `<span class="card-title title">${data[i].title}</span>`;
              if (data[i].completed == true) {
                title = `<strike class="card-title title">${data[i].title}</strike>`;
              }
              var item = `
                 <div class="card my-2 card-bg">
                     <div class="card-body">
                          <div id = "item-${i}">
                           Title:  ${title}
                          </div>
                          <div>
                            Due Date: ${data[i].due_date}
                          </div> 
                          <div>
                            Priority: ${data[i].priority}
                          </div> 
                          <div class="text-start">
                            <span class="btn btn-sm btn-primary update">Update</span>
                            <span class="btn btn-sm btn-danger delete">Delete</span>
                          </div>
                     </div>
                 </div>
                 `;
              wrapper.innerHTML += item;
            }

            for (var i in data) {
              var updateBtn = document.getElementsByClassName('update')[i];
              var deleteBtn = document.getElementsByClassName('delete')[i];
              var title = document.getElementsByClassName('title')[i];

              updateBtn.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    updateTask(item);
                  };
                })(data[i])
              );

              deleteBtn.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    deleteTask(item);
                  };
                })(data[i])
              );

              title.addEventListener(
                'click',
                (function (item) {
                  return function () {
                    strikeUnstrike(item);
                  };
                })(data[i])
              );
            }
          });
      }

      buildList();

      var form = document.getElementById('taskForm');
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        var url = 'https://drf-todo-app.onrender.com/apis/add-task/';
        if (activeItem != null) {
          var url = `https://drf-todo-app.onrender.com/apis/update-task/${activeItem.id}/`;
          activeItem = null;
        }

        var title = document.getElementById('taskName').value;
        var due_date = document.getElementById('taskDate').value;
        var priority = document.getElementById('taskPriority').value;
        var requestBody = {
            "title": title,
            "due_date":due_date,
            "priority":priority,
            "user": userId
          };
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
          body: JSON.stringify(requestBody),
        }).then(function (response) {
          console.log(response.json().data)
          buildList();
          document.getElementById('taskForm').reset();
        });
      });

      function updateTask(item) {
        activeItem = item;
        document.getElementById('taskName').value = activeItem.title;
        document.getElementById('taskDate').value = activeItem.due_date;
        document.getElementById('taskPriority').value = activeItem.priority;
      }

      function deleteTask(item) {
        var url = `https://drf-todo-app.onrender.com/apis/delete-task/${item.id}/`;
        fetch(url, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
        }).then((res) => {
          buildList();
        });
      }

      function strikeUnstrike(item) {
        console.log('strikeUnstrike');
        console.log(item.user);
        item.completed = !item.completed;
        var url = `https://drf-todo-app.onrender.com/apis/update-task/${item.id}/`;
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
          body: JSON.stringify({
            user: item.user,
            title: item.title,
            due_date: item.due_date,
            priority: item.priority,
            completed: item.completed,
          }),
        }).then((res) => {
          buildList();
        });
      }
     
      const handlelogOut = () => {
        var token = localStorage.getItem('token');
        fetch('https://drf-todo-app.onrender.com/clients/logout/', {
          method: 'POST',
          headers: {
            Authorization: `Token ${token}`,
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
        })
          .then((res) => res.json())
          .then((data) => {
            alert("Logged Out Successfully!")
            localStorage.removeItem('token');
            localStorage.removeItem('user_id');
            window.location.replace('https://drf-todo-app.onrender.com');
          });
      };
      
    </script>
  </body>
</html>