<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .container {
        margin-top: 50px;
      }
     .app-name {
        font-family: 'Arial', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        background-color: #f0f0f7;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
    </style>
  </head>
  <body>
     <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand app-name" href="/">MyTodo</a>
        {% if user.is_authenticated %}
          <a class="navbar-brand" id="listButton" href="{% url "list" %}">Todo List</a>
        
        {% endif %}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
        {% if user.is_authenticated %}
        
          <form onsubmit = "handlelogOut()">
              {% csrf_token %}
              <button
                id="logoutButton"
                class="btn btn-outline-danger m-2"
                type="submit"
              >
                Logout
              </button>
            </form>

        {% else  %}
        
          <form action="{% url "user_login" %}" >
            <button
              id="loginButton"
              class="btn btn-outline-success m-2"
              type="submit"
            >
              Login
            </button>
          </form>

          <form action="{% url "register" %}">
            <button
              id="signupButton"
              class="btn btn-outline-primary m-2"
              type="submit"
              >
              Sign Up
            </button>
          </form>
        
         {% endif %}
         

        </div>
      </div>
    </nav>

    {% comment %} login form {% endcomment %}
      <section class="gradient-custom">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">
                    Please enter your username and password!
                  </p>
                  <form onsubmit="handleLogin(event)">
                    {% csrf_token %}
                    
                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <label class="form-label" for="login-username">Username</label>
                    <input
                      type="text"
                      id="login-username"
                      class="form-control form-control-lg"
                    />
                  </div>

                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <label class="form-label" for="login-password"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="login-password"
                      class="form-control form-control-lg"
                    />
                  </div>

                  <button
                    class="btn btn-outline-light btn-lg px-5"
                    type="submit"
                  >
                    Login
                  </button>

                </div>

                <div>
                  <p class="mb-0">
                    Don't have an account?
                    <a href="{% url "register" %}" class="text-white-50 fw-bold"
                      >Sign Up</a
                    >
                  </p>
                </div>
                  </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


      {% comment %} -------------------------------  footer-------------------- {% endcomment %}

   <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #45526e"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
             MyTodo
            </h6>
            <p>
           Say goodbye to forgotten tasks and hello to a more organized, productive you. Let's dive in and explore the endless possibilities of task management!
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a class="text-white" style="text-decoration: none;">Product</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Product</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Product</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Product </a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-white" style="text-decoration: none;">Your Account</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Become an Affiliate</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Shipping Rates</a>
            </p>
            <p>
              <a class="text-white" style="text-decoration: none;">Help</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="bi bi-house"></i> Sylhet, BD</p>
            <p><i class="bi bi-envelope mr-3"></i> syedashafi4@gmail.com</p>
            <p><i class="bi bi-phone mr-3"></i> + 01 234 567 88</p>
           
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2024 Copyright:
              <a class="text-white" href="https://drf-todo-app.onrender.com"
                 >MyTodo.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-facebook"></i></a>

            <!-- Twitter -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-twitter"></i></a>

            <!-- Google -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-google"></i></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="bi bi-instagram"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->

  
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script>
      const getValue = (id) => {
        const value = document.getElementById(id).value;
        return value;
      };

      const handleLogin = (event) => {
        event.preventDefault();
        const username = getValue('login-username');
        const password = getValue('login-password');
        const info ={
          "username" : username,
          "password" : password
        }
       
        if ((username, password)) {
          fetch('https://drf-todo-app.onrender.com/clients/login/', {
            method: 'POST',
            headers: { 'content-type': 'application/json' },
            body: JSON.stringify(info),
          })
            .then((res) => {
              if(res.ok){
                return res.json();
              }
              else{
                alert("Something Went wrong!");
              }
            })
            .then((data) => {
              if (data.token && data.user_id) {
                localStorage.setItem('token', data.token);
                localStorage.setItem('user_id', data.user_id);
                window.location.href = '{% url "list" %}';
                alert("User Logged In");
              }
              else{
                alert('User is not activated.')
              }
            });
        }
      };

    
    </script>
  </body>
</html>
